<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
      <key>phrase</key>
      <string>Is now still a good time?</string>
      <key>shortcut</key>
      <string>csq1</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>If we come to an agreement that you're happy with, are you ready to move forward with our offer today? Is there anyone such as a spouse or family member that would be upset if you were to make a decision without discussing it with them first? Is there a good time where I can hop on a call with you and your [person] together?</string>
      <key>shortcut</key>
      <string>csq2</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>What's the least you could accept on the price if we can agree on terms?</string>
      <key>shortcut</key>
      <string>csq3</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>What's the least down you would take? How close to that can you get?</string>
      <key>shortcut</key>
      <string>csq4</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>What's the most amount of time you'd give us to get you cashed out?</string>
      <key>shortcut</key>
      <string>csq5</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>What is the lowest monthly payment you could take? What's the lowest rate you would take? That monthly payment is going to go towards the balance of what I owe you, okay?</string>
      <key>shortcut</key>
      <string>csq6</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Does all of that make sense? If I buy your house at the [price] with [down payment] down and make the monthly payment of [monthly payment] does all of this work for you?"osq1-addr","What is the property address so I can look it up on Zillow?</string>
      <key>shortcut</key>
      <string>csq7</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Can I get your phone number so I can call you to discuss?</string>
      <key>shortcut</key>
      <string>osq1-phone</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I can send you a text message if you prefer. What is your number?</string>
      <key>shortcut</key>
      <string>osq1-text</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Why are you selling?</string>
      <key>shortcut</key>
      <string>osq2</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>How soon do you want to sell?</string>
      <key>shortcut</key>
      <string>osq3</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Does the house need any repairs before a family with young children can move in?</string>
      <key>shortcut</key>
      <string>osq4</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Are there any amounts owed to contractors?</string>
      <key>shortcut</key>
      <string>osq5</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Are the taxes current?</string>
      <key>shortcut</key>
      <string>osq6</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Is there an HOA? Are there any rental restrictions? What are they (short term, long term, etc)?</string>
      <key>shortcut</key>
      <string>osq6-hoa</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Are there any rental restrictions? What are they (short term, long term, etc)?</string>
      <key>shortcut</key>
      <string>osq6-restrictions</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>How much is owed on the mortgage?</string>
      <key>shortcut</key>
      <string>osq7</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>How much do you need for the property? Is that flexible?</string>
      <key>shortcut</key>
      <string>osq8</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>What is the monthly mortgage payment?</string>
      <key>shortcut</key>
      <string>osq9</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>If I were to pay you the [x] price, cover all the closing costs, fees, and buy it as is would you be open to terms?</string>
      <key>shortcut</key>
      <string>osq10</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Let me explain how we can make this process incredibly simple and beneficial for you. We often buy homes by taking over existing payments or creating a payment plan that works for you. This means you get more money over time, without any hassle or fees – and we handle everything, so you don't have to lift a finger. You walk away with more cash in your pocket, no closing costs, and we take care of all the repairs and expenses. Would something like this work for you?</string>
      <key>shortcut</key>
      <string>osq10-terms</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Fantastic! Let's schedule a quick call to go over the next steps. I'll handle everything, and you'll see how easy this process can be.</string>
      <key>shortcut</key>
      <string>osq10-terms-yes</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I understand that you're looking for a cash option. Since the house needs some repairs, we could explore an all-cash offer that allows you to sell quickly without making any fixes. If we were to pay all cash and close when you want, what's the least you would take for the property?</string>
      <key>shortcut</key>
      <string>osq10-cash-fixer</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I understand that you're looking for a cash offer at full market value. Just so you know, when we pay cash, it's typically because the property needs a lot of work, and we're getting it at a discount. Since your home is in great condition, our seller finance option allows us to pay much more. This means you walk away with more money and avoid all the typical hassles. If cash at retail is your only option, you might be better off listing with a real estate agent to get that full market value. Would you be open to discussing how we could make this work on terms that might actually benefit you more?"chnage","change</string>
      <key>shortcut</key>
      <string>osq10-cash-turnkey</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I don't know</string>
      <key>shortcut</key>
      <string>idk</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>tomorrow</string>
      <key>shortcut</key>
      <string>tmrw</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I buy fixer-upper houses in [city, state] and the surrounding areas. I can pay cash and close quickly. No need for any repairs, clean out, or showings.</string>
      <key>shortcut</key>
      <string>buy-box-cash</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I buy turn key houses in [city, state] and the surrounding areas. I can pay full price for turn key homes and I'm flexible with the closing. No need for any repairs, clean out, or showings."concern-house-damage","We carry landlord insurance that will cover damages to the property and names your lender as "additional insured". In addition, we require that tenants carry renters insurance in an amount that is at least the amount owed to you. If there is a claim event then the property will be repaired accordingly to retain or improve its value.</string>
      <key>shortcut</key>
      <string>buy-box-terms</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>We do not want this anymore than you do, so, we screen our tenants very thoroughly and very rigorously. Put yourself in our shoes: do you want to get calls at 3 AM on a Sunday or calls from the local sheriff?</string>
      <key>shortcut</key>
      <string>concern-tenant-damage</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>First, we do not want to lose money. If we fail to pay you, then we'll lose the house and all the money we've invested in it. Second, as part of the agreement, we'll put a "mortgage wrap" contract in place to protect us both. The property will be returned to you by executing a "deed in lieu of foreclosure."</string>
      <key>shortcut</key>
      <string>concern-fail-to-pay</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>We can close as quickly as you want to. If you want to leave quickly, in general, it takes one month to close. The standard purchase and sale agreement contract has a 21 day due diligence period where we will have the property inspected and make sure everything is ready for close. If we continue with the purchase, that means we schedule a closing and that depends on how quickly the title company can get us booked. When would you like to close?"fu-30d-y","Great! I'll check back with you in 30 days. If you have any questions in the meantime, feel free to reach out.</string>
      <key>shortcut</key>
      <string>concern-close</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I understand. If you change your mind, please feel free to reach out to me."why-tax","We ask because if there are any back taxes or mechanical liens owed on the home it could possibly cause delays with closing.</string>
      <key>shortcut</key>
      <string>fu-30d-n</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>There are a couple of ways I can buy your home. I just want to figure out what works best.</string>
      <key>shortcut</key>
      <string>why-mortgage</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Sometimes, Facebook or email can be unreliable, and I want to make sure we can stay in touch. What's the best number to reach you?</string>
      <key>shortcut</key>
      <string>why-phone</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Understanding your reason for selling helps me customize an offer that aligns with your timeline and goals. What's the main reason you're considering selling?</string>
      <key>shortcut</key>
      <string>why-sell</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>No problem at all. We're super flexible and can close whenever you're ready. Do you have a rough timeframe in mind?</string>
      <key>shortcut</key>
      <string>why-timeline</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I ask because if any repairs are needed, we can handle them, saving you the hassle and expense. So, it doesn't need anything at all?</string>
      <key>shortcut</key>
      <string>why-repairs</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Sometimes there's a remaining balance on a mortgage that needs to be settled when we buy the property. It's just to make sure everything is covered properly and there are no surprises. Do you have a rough idea of how much you owe?</string>
      <key>shortcut</key>
      <string>why-balance</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>It's just part of the process to help us make an accurate offer. Do you have a rough idea of what that monthly amount is?</string>
      <key>shortcut</key>
      <string>why-pymt</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Before I give you an offer, I'd obviously have to see the property and before I do that I need a rough idea of what you're asking.</string>
      <key>shortcut</key>
      <string>why-offer</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>I want to make sure our offer is fair and meets your expectations, so it's helpful to know what you're looking for. Do you have a ballpark figure in mind?</string>
      <key>shortcut</key>
      <string>why-asking-price</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>What part do you need to think about? Maybe I can help resolve any unanswered questions?"request-email-offer","I'd love to do that; unfortunately it's company policy that we can't just leave open offers floating out there. We are looking at dozens of houses every day. Therefore, I am required to send you the written offer and review it TOGETHER to make sure that I can answer all of your questions and make sure you are 100% comfortable with everything.</string>
      <key>shortcut</key>
      <string>why-think</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>On or before the end of the agreed upon term, we'll pay you the remainder of what is owed on the property in a single "balloon" payment.</string>
      <key>shortcut</key>
      <string>def-balloon</string>
    </dict>
    <dict>
      <key>phrase</key>
      <string>Terms refers to a arrangement where instead of paying all cash upfront, we make regular payments to you over time. This often allows us to pay you more overall while giving you consistent income. We can structure these terms to fit your specific needs, whether that's monthly payments, a larger down payment, or a specific payoff timeline.</string>
      <key>shortcut</key>
      <string>def-terms</string>
    </dict>
  </array>
</plist>
