<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
      <key>phrase</key>
      <string>Hi [name]. I saw your comment on the [group] Facebook group. I understand you are selling your home? What is the property address?</string>
      <key>shortcut</key>
      <string>osq1</string>
    </dict>
  </array>
</plist>
